<h1>Карточки</h1>

<table border=0 cellSpacing=5 cellPadding=0>
  <tr>
    <th>Оригинальный текст&nbsp&nbsp</th>
    <th>Перевод текста&nbsp&nbsp</th>
    <th>Дата проверки&nbsp&nbsp</th>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime('%d/%m/%Y') %></td>
    </tr>
  <% end %>
</table>
