<div class="media">
  <div class="media-body">
  <table class="table table-hover">
    <tr>
      <th>Оригинальный текст</th>
      <th>Перевод текста</th>
    </tr>
    <tr>
  <td><%= @card.original_text %></td>
  <td><%= @card.translated_text %></td>
</tr>
