<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="application.css">
  <%= csrf_meta_tags %>
  <title>Флэшкарточкер</title>

</head>

<body>
  <section id="container">

    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><a href="#">Все карточки</a></li>
        <li><a href="#">Добавить карточку</a></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
        <%= yield %>
      </p>
    </section>

  </section>
</body>

</html>
